/* colors */
/*
cpg blue
$carousel-bg-color: #dddddd;
$body-color: #2D2D29;
$body-bg-color: #FAF9FA!important;
$primary-color: #66aadd;
$secondary-color: #88bbdd;
$third-color: #ccdd;
#000000 dull black
#66ccff azure light
#77eeff magenta1
#55bbee msft cert vibrant
#000000
*/
/* font sizes */
/* spacing */
/* screen */
body {
  color: #2D2D29;
  background-color: #EEEEEE !important;
}
body footer {
  /* Padding below the footer and lighter body text */
  padding-top: 3rem;
  padding-bottom: 0px;
}
body footer a {
  color: #00ccff;
}
body footer .fas, body footer .fab {
  color: #88ccdd;
}

/* CAROUSEL  */
.carousel {
  margin-top: 0;
  margin-bottom: 1rem;
  background-color: #EEEEEE;
  height: 250px;
}
.carousel > .carousel-control-prev, .carousel > .carousel-control-next {
  max-width: 40px;
}
.carousel > .carousel-indicators {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 0px;
}
.carousel > .carousel-indicators > li {
  text-indent: 0;
  width: 130px;
  height: 18px;
  border: none;
  color: transparent;
}
.carousel > .carousel-indicators > li > p {
  font-size: 12px;
  color: #116688;
  text-align: center;
  vertical-align: text-top;
  padding-bottom: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.carousel > .carousel-inner {
  min-width: 90%;
  /* Declare heights because of positioning of img element */
}
.carousel > .carousel-inner > .carousel-item {
  height: 240px;
  /* Since positioning the image, we need to help out the caption */
}
.carousel > .carousel-inner > .carousel-item .avatar {
  max-width: 200px;
}
.carousel > .carousel-inner > .carousel-item .responsive-table {
  margin-bottom: 0px;
  font-size: 12px;
}
@media (max-width: 576px) {
  .carousel > .carousel-inner > .carousel-item .responsive-table {
    font-size: 8px;
  }
}
@media (max-width: 768px) {
  .carousel > .carousel-inner > .carousel-item .responsive-table {
    font-size: 9px;
  }
}
@media (max-width: 992px) {
  .carousel > .carousel-inner > .carousel-item .responsive-table {
    font-size: 10px;
  }
}
@media (max-width: 1200px) {
  .carousel > .carousel-inner > .carousel-item .responsive-table {
    font-size: 11px;
  }
}
.carousel > .carousel-inner > .carousel-item > .fcj > * {
  margin-left: 10px;
  margin-right: 10px;
}
.carousel > .carousel-inner > .carousel-item > .fcj h4 {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.carousel > .carousel-inner > .carousel-item > .fcj .btn {
  font-size: 12px;
}
@media (min-width: 576px) {
  .carousel > .carousel-inner > .carousel-item > .fcj .btn {
    font-size: 13px;
  }
}
@media (min-width: 768px) {
  .carousel > .carousel-inner > .carousel-item > .fcj .btn {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  .carousel > .carousel-inner > .carousel-item > .fcj .btn {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  .carousel > .carousel-inner > .carousel-item > .fcj .btn {
    font-size: 16px;
  }
}
.carousel > .carousel-inner > .carousel-item > .fcj .btn span {
  font-size: 10px;
}
@media (min-width: 576px) {
  .carousel > .carousel-inner > .carousel-item > .fcj .btn span {
    font-size: 10.5px;
  }
}
@media (min-width: 768px) {
  .carousel > .carousel-inner > .carousel-item > .fcj .btn span {
    font-size: 11px;
  }
}
@media (min-width: 992px) {
  .carousel > .carousel-inner > .carousel-item > .fcj .btn span {
    font-size: 11.5px;
  }
}
@media (min-width: 1200px) {
  .carousel > .carousel-inner > .carousel-item > .fcj .btn span {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .carousel > .carousel-inner > .carousel-item > .fcj > img {
    display: none;
  }
}
.carousel > .carousel-inner > .carousel-item .so-badges {
  height: 100%;
}
.carousel > .carousel-inner > .carousel-item > .carousel-caption {
  bottom: 3px;
  z-index: 10;
  min-height: 180px;
  max-height: 200px;
  /* Bump up size of carousel content */
  /* https://varya.me/en/posts/pseudo-tag-cloud-css/ */
}
@media (min-width: 576px) {
  .carousel > .carousel-inner > .carousel-item > .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}
.carousel > .carousel-inner > .carousel-item > .carousel-caption > .cloud > span {
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow: visible;
}
.carousel > .carousel-inner > .carousel-item > .carousel-caption > .cloud > span:nth-of-type(3n + 1) {
  font-size: 0.6rem;
}
.carousel > .carousel-inner > .carousel-item > .carousel-caption > .cloud > span:nth-of-type(3n + 2) {
  font-size: 0.8rem;
}
.carousel > .carousel-inner > .carousel-item > .carousel-caption > .cloud > span:nth-of-type(3n) {
  font-size: 1rem;
}

.general-info .fab, .general-info .fas {
  color: rgba(0, 0, 0, 0.125);
  font-size: 25px;
  line-height: 25px;
  width: 25px;
  height: 25px;
  text-align: center;
  margin-left: 40px;
  margin-right: 0px;
  float: right;
}

.contact > div {
  margin-top: 8px;
  margin-bottom: 8px;
}
.contact > div > .fab, .contact > div > .fas {
  color: #0077cc;
  font-size: 25px;
  line-height: 25px;
  width: 25px;
  height: 25px;
  text-align: center;
  float: left;
  margin-left: 2px;
  margin-right: 2px;
}
.contact > div > a {
  color: #00ccff;
}
.contact > div > span {
  color: #22aacc;
}
.contact > div > span, .contact > div > a {
  padding-left: 12px;
  font-size: 15px;
  text-align: center;
  overflow: visible;
  text-overflow: ellipsis;
  text-rendering: optimizeLegibility;
}

/* accordion */
.card .card-header {
  padding: 1px;
}
.card .card-header button {
  cursor: pointer;
  font-size: normal;
  float: right;
}
.card .card-header button.btn-link {
  color: #00ccff;
}
.card .card-header button.btn-link small {
  font-size: small;
}
.card .card-header i {
  font-size: 24px;
  height: 24px;
  width: 24px;
  color: #88ccdd;
  padding-top: 4px;
  padding-bottom: 0px;
  padding-left: 4px;
  padding-right: 0px;
  margin-top: 4px;
  margin-bottom: 0px;
  margin-left: 4px;
  margin-right: 0px;
}
.card .card-body .we-row .tab-content small {
  font-size: 13px !important;
}
.card .card-body a {
  color: #00ccff;
}
.card .card-body .fas, .card .card-body .fab {
  color: #22aacc;
}
.card .card-body .prim {
  color: #0077cc;
  fill: #0077cc;
}
.card .card-body .second {
  color: #22aacc;
}
.card .card-body .third {
  color: #116688;
}
.card #div-card-certify .flex-column {
  max-width: 205px !important;
}
.card #div-card-certify .flex-column * {
  align-self: center;
}
.card #div-card-certify .flex-column img.mcts {
  width: 160px;
  height: 137px;
}
.card #div-card-certify .flex-column img.mcpd {
  width: 200px;
  height: 112px;
}
.card #div-card-certify .flex-column svg {
  width: 150px;
  height: 48px;
  margin-top: 16px;
}
.card .container-oss-so > * {
  margin-top: 8px;
}

svg.prim, rect.prim {
  color: #0077cc;
  fill: #0077cc;
  stroke: #0077cc;
}

.badge-primary {
  background-color: #22aacc !important;
}

.lin {
  height: 100px;
  width: 100px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}
@media (max-width: 992px) {
  .lin {
    height: 90px;
    width: 90px;
  }
}
@media (max-width: 768px) {
  .lin {
    height: 80px;
    width: 80px;
  }
}
@media (max-width: 576px) {
  .lin {
    height: 70px;
    width: 70px;
  }
}

/*
v-pills-*-tab
*/
.we-row > .nav-pills {
  margin-left: 4px;
  padding-right: 8px;
}
.we-row > .nav-pills > a.nav-link {
  background-color: rgba(0, 0, 0, 0.03) !important;
  color: #116688;
  font-size: 14px;
  padding-left: 4px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.we-row > .nav-pills > a.nav-link:hover {
  background-color: #EEEEEE !important;
  padding-left: 8px;
  padding-right: 4px;
  font-weight: bold;
}
.we-row > .nav-pills > a.nav-link.active {
  background-color: rgba(0, 0, 0, 0.125) !important;
  color: #116688 !important;
  font-kerning: none;
  font-stretch: wider;
}
.we-row > .nav-pills > a.nav-link.show {
  background-color: rgba(0, 0, 0, 0.125) !important;
  text-decoration: none;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #116688;
  border-radius: 0px;
  padding-left: 4px;
  padding-right: 4px;
  font-weight: bold;
}
.we-row .tab-content > .tab-pane > .row > div {
  padding-left: 8px;
  padding-right: 0px;
}

/*# sourceMappingURL=carousel.css.map */
