$dull-persia: #116688;
$electric-blue: #0077cc;
$calm-sea: #22aacc;
$vibrant-cyan: #00ccff;
$sleek-turqoise: #88ccdd;

$greyd: #dddddd;
$greye: #EEEEEE;
$wgrey: rgba(0, 0, 0, 0.03);
$wgray: rgba(0, 0, 0, 0.125);

$black-2d: #2D2D29;
$white-fa: #FAF9FA!important;

/* colors */
// theme naive mine
// $carousel-arrow-bg-color: #777;
// $carousel-bg-color: #BBBDBB;
// $body-color: #2D2D29;
// $body-bg-color: #FAF9FA!important;
// $primary-color: #86A8BA;
// // $secondary-color: #2B8893;
// // #6c757d!important;
// $secondary-color: #4477CC;
// // $tag-bg-color: #f1f8ff;
// // $primary-bootstrap-color: 007BFF; unused
// // $third-color: #888577;
// // $third-color:  rgba(0,0,0,.03);
// $third-color: #EEECEE;

/*
cpg blue
$carousel-bg-color: #dddddd;
$body-color: #2D2D29;
$body-bg-color: #FAF9FA!important;
$primary-color: #66aadd;
$secondary-color: #88bbdd;
$third-color: #ccdd;
#000000 dull black
#66ccff azure light
#77eeff magenta1
#55bbee msft cert vibrant
#000000
*/