$dull-persia: #116688;
$electric-blue: #0077cc;
$calm-sea: #22aacc;
$vibrant-cyan: #00ccff;
$sleek-turqoise: #88ccdd;

$greyd: #dddddd;
$greye: #EEEEEE;
$wgrey: rgba(0, 0, 0, 0.03);
$wgray: rgba(0, 0, 0, 0.125);

$black-2d: #2D2D29;
$white-fa: #FAF9FA!important;

