.flag
{
  height: 30px;
  width: 40px;
  line-height: 30px;

  background-color: #bbb;
  background-size: cover;
  background-position-x: center;
  // background-blend-mode: multiply; // screen // overlay // darken // lighten // color-dodge
  // color-burn, hard-light, soft-light, difference, exclusion, hue, saturation, color, and luminosity
  background-blend-mode: overlay;
  transition: background-color .5s;
}
.flag-en
{
  background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/gb.svg);
}
.flag-ro {
  background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/ro.svg);
}
.flag-fr {
  background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/fr.svg);
}
.flag-de {
  background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/de.svg);
}
.flag-es{
  background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/es.svg);
}
.flag-it{
  background-image: url(https://lipis.github.io/flag-icon-css/flags/4x3/it.svg);
}