@import "colors";

$tag-font-size: 11px !important;
$tags-div-min-width: 60px;

div.tags {
  min-width: $tags-div-min-width;

  a.tag {
    position: relative;
    display: inline-block;
    margin: 2px 2px 2px 0;
    font-size: $tag-font-size;
    line-height: 1;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    padding: 2px;
    border-radius: 1;
    background-color: $greye;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;

    &:hover {
      background-color: $greyd;
    }
  }

  a.cs {
    color: $calm-sea;
  }
  a.tst {
    color: $vibrant-cyan;
  }
  a.ui {
      color: $electric-blue;
  }
  a.wf{
      color: $sleek-turqoise;
  }
}
