@CHARSET "UTF-8";

/*html,body,div,,h1,h2,h3,h4,h5,h6,p*/
span,object,iframe,blockquote,pre,abbr,address,cite,code,del,dfn,em,
img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,
tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
border:0;
font:inherit;
font-size:100%;
margin:0;
padding:0;
vertical-align:baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block; }

/**
#ffffff white
#f0f0f0 content backcolor, collapse js border
#efefef expanded content header front
#888888 background of collapsed js
#4F4F4F body backcolor
#232323 expanded content header back
#1f1f1f darker than background, lighter than content text
#0f0f0f content color, body text color
#000000 black, text color of collapsed content
**/

body { color: #0f0f0f; background-color: #4f4f4f; }

.clear {clear: both;}

/**/
#navigation { width:350px; }

#main { width:700px; }

#navigation, #main { float:left; margin:10px; }

div.container {padding:0; margin:0;}

div.content {
    background:#f0f0f0;
    margin: 0;
    padding:10px;     
    font-family:"Calibri (Body)";		
}

div.content ul, div.content p  
{
  margin:0; 
  padding:3px; 
  font-size:13px; 
  line-height:1.5em;  
}

div.content ul li {
    list-style-position:inside;
    line-height:25px;
	color:#1f1f1f;
}
div.content ul li a,
div.content span a,
div.content p a { 
  color:rgba(20,110,20,0.85); 
}

div.content ul li a:hover,
div.content span a:hover,
div.content p a:hover
 { color:rgba(80,200,80,0.8); }
 div.content ul li a:visited,

div.content ul li a:visited,
div.content span a:visited,
div.content p a:visited
 { color:rgba(120,160,120,0.85); }
 
div.content ul li a {  }

span.emphasis {font-weight: bold;}

code { overflow:auto; }

/*************collapse*****************************************************/
.collapsible,
.page_collapsible {
    margin: 0;
    padding:10px;
    height:20px;
    border-top:#f0f0f0 1px solid;
    background: #888888;
    text-decoration:none;
    text-transform:uppercase;
    color: #000000;
    font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
}

.collapse-open { background:#232323; color: #efefef; }

.collapse-open span {
    display:block;
    float:right;
    padding:10px; 
}

.collapse-open span { 
  background:url(./img/minus9.png) center center no-repeat; 

}

.collapse-close span {
    display:block;
    float:right;
    background:url(./img/plus9.png) center center no-repeat;
    padding:10px;
}

/*****address*******/
/**/
#divLogos img{ margin-top: 1px; }

/**************************mainDetails*****************************/
.mainDetails { max-width: 350px; }

.mainDetails div { 
	width: 99%;
	border-top: 1px solid #4f4f4f; 
	background: #888888; 
	float: left; 
	max-width: 350px;
	margin-right: 1;
	margin-left: 1;
}

/*************************name*************************************/

h1,h2,h3 { 
color: rgba(20, 20, 20, 0.6);
font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif; 
text-align: center;  
margin-top: 2px;
margin-bottom: 2px;
}

/*#name */
h1 {  
  font-size: 30px;
  letter-spacing: 3px;
  text-shadow: 1px 1px #a0a0a0;
}
/*h1,h2,h3:hover { background: #999999; }*/

h2 {
  font-size: 24px;
  letter-spacing: 2px;
  text-shadow: 1px 1px #afafaf;  
}

 h3 {
  font-size: 18px;
  margin-left: 2px; 
  font-style:italic;
  letter-spacing: 1px;
}



/************************picture**************************************/
#headshot { text-align: center; }

#headshot img {
  border-top: 2px; 
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  margin-bottom: -3px;
  /*
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;    
  */
}

#slideshow { 
    /*
	margin: 50px auto;     
    width: 240px; 
    padding: 10px; 
	*/
	height: 234px; 
	position: relative; 
	text-align: center;    
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
  	position: absolute; 
    top: 1px; 
	/* 
    left: 10px; 
    right: 10px; 
    bottom: 10px;  
	*/
}

#slideshow img {
  border-top: 2px; 
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  margin-bottom: -3px;  
}

/****************contact details***************************************/
 #contactDetails {
 height: 159px;
}

#contactDetails ul {
  list-style-type: none;
  font-size: 12px;
  margin-top: 5px;
  font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}

#contactDetails ul li  
{
  margin-bottom: 1px; 
  margin-left: 5px; 
  margin-top: 10px; 
}

#contactDetails ul li a
/*, a[href^=tel] */
{
  color: rgba(20, 20, 20, 0.8);
  text-decoration: none;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  transition: all .3s ease-in; 
}

#contactDetails ul li a:hover,
#contactDetails ul li span:hover{ color: rgba(224, 36, 36, 0.8); }

#contactDetails img {
  width: 24px;
  height: 24px;
  margin-left: 3px;
  vertical-align:middle;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/************open/close buttons********/
/*#buttonsDiv {margin-top: 2px;}*/
#buttonsDiv a{margin-top: 2px; }

/********************/
.instaFade {
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-in;  
    -moz-animation-name: reset, fade-in;
    -moz-animation-duration: 1.5s;
    -moz-animation-timing-function: ease-in;
    animation-name: reset, fade-in;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
}

.quickFade {
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: ease-in;  
    -moz-animation-name: reset, fade-in;
    -moz-animation-duration: 3s;
    -moz-animation-timing-function: ease-in;
    animation-name: reset, fade-in;
    animation-duration: 3s;
    animation-timing-function: ease-in;
}

.delayOne {
  -webkit-animation-delay: 0, .5s;
  -moz-animation-delay: 0, .5s;  
  animation-delay: 0, .5s;
}

.delayTwo {
  -webkit-animation-delay: 0, 1s;
  -moz-animation-delay: 0, 1s;
  animation-delay: 0, 1s;
}

.delayThree {
  -webkit-animation-delay: 0, 1.5s;
  -moz-animation-delay: 0, 1.5s;
  animation-delay: 0, 1.5s;
}

.delayFour {
  -webkit-animation-delay: 0, 2s;
  -moz-animation-delay: 0, 2s;
  animation-delay: 0, 2s;
}

.delayFive {
  -webkit-animation-delay: 0, 2.5s;
  -moz-animation-delay: 0, 2.5s;
  animation-delay: 0, 2.5s;
}

.delaySix {
  -webkit-animation-delay: 0, 3s;
  -moz-animation-delay: 0, 3s;
  animation-delay: 0, 3s;
}

.delay7 {   -webkit-animation-delay: 0, 3s;   -moz-animation-delay: 0, 3s;   animation-delay: 0, 3s; }

@-webkit-keyframes reset {
  0% { opacity: 0; }
  100% { opacity: 0; }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes reset {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes reset {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}