$big-header-height: 230px;
$small-header-height: 90px;
$pic: 200px;
$color-f6: #f6f6f6;
$color-3: #333;
$width100: 100%;
$shrink-font-size: 2em;
$h-font-size: 4em;
$a-font-size: 1.4em;
// must be smaller than $pic/2 and $small-header-height
$shrink-pic: 80px;

/* property name | duration | timing function | delay */
@mixin transition-height-duration($duration) {
  transition: height $duration;
  -ms-transition: height $duration;
  -o-transition: height $duration;
  -webkit-transition: height $duration;
  -moz-transition: height $duration;
}

@mixin transition-all-duration($duration) {
  transition: all $duration;
  -ms-transition: all $duration;
  -o-transition: all $duration;
  -webkit-transition: all $duration;
  -moz-transition: all $duration;
}

.cbp-af-header {
  position: fixed;
  top: 0;
  left: 0;
  width: $width100;
  background: $color-f6;
  z-index: 10000;
  height: $big-header-height;
  overflow: hidden;
  @include transition-height-duration(0.3s);

  .cbp-af-inner {
    width: 90%;
    max-width: 69em;
    margin: 0 auto;
    padding: 0 1.875em;
    @media screen and (max-width: 55em) {
      width: $width100;
    }
  }

  h1, nav, img {
    display: inline-block;
    position: relative;
    /*
    @media screen and (max-width: 55em) {
      display: block;
      margin: 0 auto;
      text-align: center;
      float: none;
    }
    */
  }

  h1, img, nav a {
    /* We just have one-lined elements, so we'll center the elements with the line-height set to the height of the header */
    line-height: $big-header-height;
    /* Transitions and class for reduced height */
    @include transition-all-duration(0.3s);
  }

  h1, img {
    margin: 0;
    float: left;
  }

  h1 {
    text-transform: uppercase;
    color: $color-3;
    letter-spacing: 4px;
    font-size: $h-font-size;
  }

  img {
    width: $pic;
    height: $pic;
  }

  nav {
    float: right;

    a {
      color: #aaa;
      font-weight: 700;
      margin: 0 0 0 20px;
      font-size: $a-font-size;

      &:hover {
        color: $color-3;
      }
    }
  }

  &.cbp-af-header-shrink {
    height: $small-header-height;

    h1, img, nav a {
      line-height: $small-header-height;
    }

    h1 {
      font-size: $shrink-font-size;
    }

    img {
      width: $shrink-pic;
      height: $shrink-pic;
    }
  }
}

/* Example Media Queries */
@media screen and (max-width: 55em) {
	.cbp-af-header {

    h1, img, nav {
      display: block;
      margin: 0 auto;
      text-align: center;
      float: none;
    }

    h1, img, nav a {
      line-height: $big-header-height/2;
    }

    nav a {
      margin: 0 10px;
    }

    img {
      width: $pic/2;
      height: $pic/2;
    }

    &.cbp-af-header-shrink {
      h1, img, nav a {
        line-height: $small-header-height/2;
      }

      h1 {
        font-size: $shrink-font-size;
      }

      nav a {
        font-size: $shrink-font-size/2;
      }

      img {
        width: $small-header-height/2;
        height: $small-header-height/2;
      }
    }
  }
}

@media screen and (max-width: 32.25em) {
	.cbp-af-header nav a {
		font-size: $shrink-font-size/2;
	}
}

@media screen and (max-width: 24em) {
	.cbp-af-header nav a,
	.cbp-af-header.cbp-af-header-shrink nav a {
		line-height: 1;
	}
}
